* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/texture.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.imagem {
    position: relative;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#imagem {
    position: relative;
    bottom: 100px;
    left: 0;
    width: 100%;
    border-radius: 10px;
}

.foot {
    position: relative;
    top: 130px;
    width: 100%;
    height: 30px;
    background-color: #0006;
    color: #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 5px;
}