<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://www.uniprot.org/uniprot.min.css2022_02" type="text/css" rel="stylesheet" />
    <link href="https://www.uniprot.org/tippy.css" type="text/css" rel="stylesheet" />

    <title>AVP - Vasopressin-neurophysin 2-copeptin precursor - Homo sapiens (Human) - AVP gene &amp; protein</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/" rel="home" />
    <link href="https://creativecommons.org/licenses/by/4.0/" rel="license" />
    <link type="image/vnd.microsoft.icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/uniprot.min.css2022_02" type="text/css" rel="stylesheet" />
    <link href="/tippy.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        var BASE = '/';
    </script>
    <script src="/js-compr.js2022_02" type="text/javascript"></script>
    <script type="text/javascript">
        uniprot.isInternal = false;
        uniprot.namespace = 'uniprot';
        uniprot.releasedate = '2022_02';
    </script>
    <script type="text/javascript">
        ;
    </script>
    <link href="opensearch.xml" title="UniProtKB" type="application/opensearchdescription+xml" rel="search" />
    <link href="https://www.uniprot.org/uniprot/P01185" rel="canonical" />
    <link href="P01185.rdf" title="RDF" type="application/rdf+xml" rel="alternate" />
    <link href="P01185.rss?version=*" type="application/rss+xml" title="RSS" rel="alternate" />
    <script type="text/javascript">
        // variable to store annotation data
        var annotations = [];
        var entryId = 'P01185';
        var isObsolete = false || !true;
    </script>
    <meta content="Specifically binds vasopressin." name="description" />
    <meta content="nositelinkssearchbox" name="google" />
    <script defer="defer" src="https://d3js.org/d3.v4.min.js"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/protvista-uniprot@latest/dist/protvista-uniprot.js"></script>
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/interaction-viewer@latest/dist/interaction-viewer.js"></script>
</head>

<body>
    <div id="conteudo"></div>
    <script>
        fetch("https://www.uniprot.org/uniprot/P01185")
            .then(resp => resp.text())
            .then(function(text) {
                let b = document.querySelector("#conteudo");
                b.innerHTML = text;
            })
    </script>
    <script src="https://www.uniprot.org/js-compr.js2022_02"></script>
</body>

</html>